In [10]:
import pandas as pd
import numpy as np
from datetime import datetime, timezone
import os

In [11]:
persons = [ 'P' + f"{num:02}" for num in range(1,18)]
persons

['P01',
 'P02',
 'P03',
 'P04',
 'P05',
 'P06',
 'P07',
 'P08',
 'P09',
 'P10',
 'P11',
 'P12',
 'P13',
 'P14',
 'P15',
 'P16',
 'P17']

In [12]:
from datetime import datetime

def convert_to_datetime(unix):
    # Assuming you have a 13-digit Unix timestamp
    timestamp_milliseconds = unix # Example timestamp

    # Convert to a datetime object
    datetime_object = datetime.utcfromtimestamp(timestamp_milliseconds / 1000.0)

    return datetime_object

print(convert_to_datetime(1638550730008))

2021-12-03 16:58:50.008000

In [13]:
from datetime import datetime, timezone

def convert_to_unix_gmt(time):
    # Input datetime string
    datetime_string = time

    # Parse the datetime string into a datetime object
    datetime_object = datetime.strptime(datetime_string, "%Y-%m-%d %H:%M:%S")

    # Convert the datetime object to a Unix timestamp (13-digit, in milliseconds)
    unix_timestamp = int(datetime_object.replace(tzinfo=timezone.utc).timestamp() * 1000)

    return unix_timestamp

print(convert_to_unix_gmt("2021-11-26 18:35:36"))

1637951736000

In [6]:
# df =  pd.read_csv(f"dataset/P04/EARBUDS/P04-imu-right.csv")
# df = df.sort_values(by='timestamp', ascending=True)

# # # Use parentheses to ensure correct evaluation of conditions
# count=0
# for i in df.values:
#     if(i[0] > 1637951736000):
#         # print(convert_to_datetime(i[0]))
# print(count)

In [15]:
# from datetime import datetime

# def convert_to_unix_gmt(time):
#     # Input datetime string
#     datetime_string = time

#     # Parse the datetime string into a datetime object
#     datetime_object = datetime.strptime(datetime_string, "%Y-%m-%d %H:%M:%S")

#     # Convert the datetime object to a Unix timestamp (13-digit, in milliseconds)
#     unix_timestamp = int(datetime_object.replace(tzinfo=timezone.utc).timestamp() * 1000)

#     return unix_timestamp

# print(convet_to_unix("2021-11-26 16:26:50"))

In [16]:
df =  pd.read_csv(f"dataset/P01/EARBUDS/P01-ppg-right.csv")

In [17]:
df

        Unnamed: 0      timestamp  green      ir     red
0            29104  1638530930005  51278  241134  276788
1            29105  1638530930015  51304  241174  276801
2            29106  1638530930025  51335  241150  276810
3            29107  1638530930035  51355  241151  276790
4            29108  1638530930045  51377  241142  276769
...            ...            ...    ...     ...     ...
181885      210989  1638532748855  38295  175505  201147
181886      210990  1638532748865  38270  175454  201003
181887      210991  1638532748875  38251  175313  200904
181888      210992  1638532748885  38238  175313  200806
181889      210993  1638532748895  38223  175232  200767

[181890 rows x 5 columns]

In [18]:
# As the first row in the dataset has timing 16:53:50 and the study information has start time of 16:58:50
# And as during our visualization also we saw there were around 30000 (5 mins in milliseconds) of incosistancies.
df.drop(index=df.index[:29104], axis=0, inplace=True)
df

        Unnamed: 0      timestamp  green      ir     red
29104        58208  1638531221045  41047  195549  220186
29105        58209  1638531221055  41042  195476  220136
29106        58210  1638531221065  41040  195439  220086
29107        58211  1638531221075  41018  195391  220045
29108        58212  1638531221085  41004  195370  220051
...            ...            ...    ...     ...     ...
181885      210989  1638532748855  38295  175505  201147
181886      210990  1638532748865  38270  175454  201003
181887      210991  1638532748875  38251  175313  200904
181888      210992  1638532748885  38238  175313  200806
181889      210993  1638532748895  38223  175232  200767

[152786 rows x 5 columns]

In [19]:
df["timestamp"] = df["timestamp"].astype("int64")

In [20]:
# Adding 1638530630000 to the timestamp column in the dataset to make it exact unix time.
# As it is relative to "2021-12-03 16:53:50" right now.

df.iloc[:,0] = df.iloc[:,0] + 1638530630000

In [21]:
df

           Unnamed: 0      timestamp  green      ir     red
29104   1638530688208  1638531221045  41047  195549  220186
29105   1638530688209  1638531221055  41042  195476  220136
29106   1638530688210  1638531221065  41040  195439  220086
29107   1638530688211  1638531221075  41018  195391  220045
29108   1638530688212  1638531221085  41004  195370  220051
...               ...            ...    ...     ...     ...
181885  1638530840989  1638532748855  38295  175505  201147
181886  1638530840990  1638532748865  38270  175454  201003
181887  1638530840991  1638532748875  38251  175313  200904
181888  1638530840992  1638532748885  38238  175313  200806
181889  1638530840993  1638532748895  38223  175232  200767

[152786 rows x 5 columns]

In [22]:
df.to_csv("P01-ppg-right.csv")

In [23]:
df6 =  pd.read_csv(f"dataset/P06/EARBUDS/P06-ppg-right.csv")

In [24]:
df6

        Unnamed: 0      timestamp  green      ir     red
0            17285  1638162474002  53605  295011  296417
1            17286  1638162474012  53595  295025  296360
2            17287  1638162474022  53584  295016  296409
3            17288  1638162474032  53577  294997  296433
4            17289  1638162474042  53563  295054  296450
...            ...            ...    ...     ...     ...
216678      233963  1638164640782  54179  295768  304568
216679      233964  1638164640792  54152  295710  304529
216680      233965  1638164640802  54141  295683  304497
216681      233966  1638164640812  54119  295555  304455
216682      233967  1638164640822  54095  295535  304393

[216683 rows x 5 columns]

In [25]:
# As the first row in the dataset has timing 10:34:54 and the study information has start time of 10:37:54
# And as during our visualization also we saw there were around 18000 (3 mins in milliseconds) of incosistancies.
df6.drop(index=df6.index[:17285], axis=0, inplace=True)
df6

        Unnamed: 0      timestamp  green      ir     red
17285        34570  1638162646852  52558  289966  296175
17286        34571  1638162646862  52547  289952  296158
17287        34572  1638162646872  52543  289948  296185
17288        34573  1638162646882  52532  289901  296158
17289        34574  1638162646892  52532  289880  296118
...            ...            ...    ...     ...     ...
216678      233963  1638164640782  54179  295768  304568
216679      233964  1638164640792  54152  295710  304529
216680      233965  1638164640802  54141  295683  304497
216681      233966  1638164640812  54119  295555  304455
216682      233967  1638164640822  54095  295535  304393

[199398 rows x 5 columns]

In [26]:
df6["timestamp"] = df6["timestamp"].astype("int64")

In [27]:
# Adding 1638162294000 to the timestamp column in the dataset to make it exact unix time.
# As it is relative to "2021-12-03 10:34:54" right now.

df6.iloc[:,0] = df6.iloc[:,0] + 1638162294000

In [28]:
df6

           Unnamed: 0      timestamp  green      ir     red
17285   1638162328570  1638162646852  52558  289966  296175
17286   1638162328571  1638162646862  52547  289952  296158
17287   1638162328572  1638162646872  52543  289948  296185
17288   1638162328573  1638162646882  52532  289901  296158
17289   1638162328574  1638162646892  52532  289880  296118
...               ...            ...    ...     ...     ...
216678  1638162527963  1638164640782  54179  295768  304568
216679  1638162527964  1638164640792  54152  295710  304529
216680  1638162527965  1638164640802  54141  295683  304497
216681  1638162527966  1638164640812  54119  295555  304455
216682  1638162527967  1638164640822  54095  295535  304393

[199398 rows x 5 columns]

In [29]:
df6.to_csv("P06-ppg-right.csv", index = False)

In [30]:
df_study = pd.read_csv("dataset/Study_Information.csv")
df_study

,Participant,Start_Sit,Start_Stand,Start_Cycle1,Start_Cycle2,Start_Run1,Start_Run2,Cycle_Speed1,Cycle_Speed2,Run_Speed1,Run_Speed2,Comments,MET_Sit,MET_Stand,MET_Cycle1,MET_Cycle2,MET_Run1,MET_Run2
0,P01,2021-12-03 16:58:50,2021-12-03 17:03:00,2021-12-03 17:08:00,2021-12-03 17:13:00,2021-12-03 17:18:00,2021-12-03 17:23:00,14,20,4.0,6.0,,1,1.2,10,16,4.5,10.0
1,P02,2021-11-25 17:17:00,2021-11-25 17:23:00,2021-11-25 17:36:10,2021-11-25 17:41:50,2021-11-25 17:46:50,2021-11-25 17:51:00,14,19,5.0,8.5,Muse headband data lost due to connectivity is...,1,1.2,10,12,8.0,14.0
2,P03,2021-11-26 16:20:20,2021-11-26 16:26:20,2021-11-26 16:53:06,2021-11-26 16:56:18,2021-11-26 17:00:13,2021-11-26 17:04:05,18,22,6.0,7.0,Second part V02 data got losT,1,1.2,12,16,10.0,11.5
3,P04,2021-11-26 18:15:48,2021-11-26 18:21:56,2021-11-26 18:27:00,2021-11-26 18:32:20,2021-11-26 18:37:10,2021-11-26 18:45:00,15,22,6.0,9.0,Interruption at 18:41,1,1.2,10,16,10.0,15.0
4,P05,2021-11-29 09:40:47,2021-11-29 09:45:40,2021-11-29 09:51:41,2021-11-29 09:56:41,2021-11-29 10:02:10,2021-11-29 10:06:40,15,22,5.0,7.0,,1,1.2,10,16,8.0,11.5
5,P06,2021-11-29 10:37:54,2021-11-29 10:43:00,2021-11-29 10:49:20,2021-11-29 10:54:35,2021-11-29 11:00:00,2021-11-29 11:06:00,14,20,5.0,7.0,VO2 data was lost (?),1,1.2,10,16,8.0,11.5
6,P07,2021-11-29 15:33:02,2021-11-29 15:38:15,2021-11-29 15:45:25,2021-11-29 15:50:00,2021-11-29 15:57:00,2021-11-29 16:02:00,16,23,5.5,8.0,Low quality HR during running,1,1.2,12,16,9.0,13.5
7,P08,2021-11-29 18:00:31,2021-11-29 18:05:30,2021-11-29 18:11:00,2021-11-29 18:16:00,2021-11-29 18:21:00,2021-11-29 18:26:00,9,18,5.0,9.0,,1,1.2,4,12,8.0,15.0
8,P09,2021-11-30 09:19:12,2021-11-30 09:24:20,2021-11-30 09:30:30,2021-11-30 09:36:00,2021-11-30 09:41:20,2021-11-30 09:46:20,14,30,6.4,9.0,,1,1.2,10,16,11.0,15.0
9,P10,2021-11-30 10:32:45,2021-11-30 10:37:40,2021-11-30 11:45:00,2021-11-30 11:50:20,2021-11-30 11:55:30,2021-11-30 12:01:00,20,24,5.0,6.5,Sleepiness level 2 if 4 is very sleepy,1,1.2,16,16,8.0,11.0
10,P11,2021-11-30 15:21:52,2021-11-30 15:26:00,2021-11-30 15:33:55,2021-11-30 15:39:40,2021-11-30 15:45:00,2021-11-30 15:51:00,13,20,5.0,6.0,Problem with mask not fitting properly - Sleep...,1,1.2,8,16,8.0,10.0
11,P12,2021-12-03 10:56:50,2021-12-03 11:01:55,2021-12-03 11:08:00,2021-12-03 11:23:10,2021-12-03 11:29:20,2021-12-03 11:34:30,20,30,7.0,11.0,at 11:15 VO2 and earbuds stopped and I restarted,1,1.2,16,16,11.5,18.0
12,P13,2021-11-30 18:30:51,2021-11-30 18:36:00,2021-11-30 18:43:00,2021-11-30 18:48:20,2021-11-30 18:53:20,2021-11-30 18:58:00,15,27,5.0,8.0,,1,1.2,10,16,8.0,13.5
13,P14,2021-12-01 15:20:40,2021-12-01 15:26:00,2021-12-01 11:05:00,2021-12-01 11:05:00,2021-12-01 11:05:00,2021-12-01 11:05:00,11,20,5.0,6.5,HR measured by Wahoo and Zephyr is similar dur...,1,1.2,6,16,8.0,11.0
14,P15,2021-12-01 11:04:22,2021-12-01 11:10:00,2021-12-01 11:17:00,2021-12-01 11:22:00,2021-12-01 11:29:00,2021-12-01 11:36:00,17,30,9.0,12.0,Stopped the treadmill at 11:30 - Earbud fell o...,1,1.2,12,16,15.0,20.0
15,P16,2021-12-01 18:44:00,2021-12-01 18:49:45,2021-12-01 18:55:45,2021-12-01 19:01:00,2021-12-01 19:06:05,2021-12-01 19:20:30,20,34,9.0,16.0,VO2 Stopped at 19:07:50,1,1.2,16,16,15.0,20.0
16,P17,2021-12-02 17:04:06,2021-12-02 17:09:15,2021-12-02 17:15:10,2021-12-02 17:20:45,2021-12-02 17:26:30,2021-12-02 17:33:40,21,30,8.0,9.5,Stopped at 17:32,1,1.2,16,16,13.5,15.5